.contact-content-dat-network{
    text-align: left;
    display: inline-block;
}

.contact-content-dat-contact{
    text-align: left;
    display: inline-block;
    font-weight: bold;
}

.contact-content-dat-contact a{
    text-decoration: none;
    color: rgb(0, 221, 255);
    font-weight: normal;
    transition: all 0.5s; 
}

.contact-content-dat-map{
    display: inline-block;
}

.contact-content-dat-about p{
    font-size: 32px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.contact-content-dat-about{
    height: auto;
}

.network img{
    width: 50px;
    display: block;
}
.network{
    margin-bottom: 15px;
    position: relative;
    overflow: hidden;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: -100%; 
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0); 
    color: rgb(0, 0, 0);
    padding: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    white-space: nowrap;
    transition: left 0.5s ease-in-out; 
    z-index: -1;
}


/* hover */
.network:hover .overlay-text {
    left: 60px; 
}

.contact-content-dat-contact a:hover{
    text-decoration: underline;
    color: blue;
}

@media (max-width: 1180px) {
    .overlay-text{
        font-size: 12pt;
    }
}

@media (max-width: 1030px) {
    .overlay-text{
        font-size: 10pt;
    }
}

@media (max-width: 910px) {
    .overlay-text{
        font-size: 8pt;
    }
}

@media (max-width: 767px) {
    .contact-map{
        display: none;
    }

    .overlay-text{
        font-size: 14pt;
    }
}

@media (max-width: 543px) {
    .contact-content-dat-contact{
        display: block;
    }
}