.footer-dat{
    background-color: rgba(58, 55, 55, 1);
    padding: 25px;
    align-items: center;
    color: white;
    text-align: center;
    width: 100%;
    padding-bottom: 0;
}

.footer-dat img{
    width: 100px;
    display: inline-block;
    padding-top: 20px;
}

.footer-dat-info{
    color: white;
    font-size: 12pt;
    text-align: center;
    display: inline-block;
    /* float: center; */
    width: 300px;
    height: auto;
}

.footer-dat-contact{
    border-left: 1px solid white;
}

.footer-dat-contact a{
    text-decoration: none;
    color: aqua;
}

.footer-dat-contact a:hover{
    text-decoration: underline;
}


.footer-dat-timer{
    border-left: 1px solid white;
}

.list-group-item a{
    text-decoration: none;
    color: white;
}

.list-group-item a:hover{
    text-decoration: underline;
}

.footer-dat-navbar a{
    text-decoration: none;
    color: white;
}

.footer-dat-navbar a:hover{
    text-decoration: underline;
}

@media (max-width: 768px) {
    .footer-dat-timer, .footer-dat-contact{
        border-left: none;
    }
}