.header-logo-dat{
    background-color: rgba(157, 157, 157, 0);
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    padding-left: 139px;
}

.header-logo-dat .header-logo-dat-img{
    width: 100px;
}

.header-navbar-dat-desktop{
    background-color: none;
    text-align: center;
    padding-bottom: 30px;
}

.header-navbar-dat-desktop a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 14pt;
    font-weight: bold;
}
.header-navbar-dat-item{
    height: 30px;
    transition: all 0.3s;
}
.header-navbar-dat-desktop .header-navbar-dat-item:hover{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 16pt;
    font-weight: lighter;
    border-radius: 10px;
    background-color: rgba(180, 180, 180); 
    
}

.header-dat {
    top: 0;
    width: 100%;
    background-color: rgb(85, 82, 82);;
}

.header-viewer-dat{
    display: inline;
    width: 135px;       
    float: right;
    padding-right: 20px;
    padding-top: 16px;
}

.header-navbar-dat-mobile{
    display: none;
}

@media (max-width: 1200px) {
    .header-navbar-dat-desktop {
        display: none !important;
    }
    .header-viewer-dat img{
        width: 30px;
        scale: 0.8;
    }

    .header-navbar-dat-mobile {
        display: block;
        padding-bottom: 5px;
    }
}

.list-navbar-dat-mobile{
    width: 100%;
    background-color: rgb(199, 199, 199);
    height: auto;
    z-index: 10;
}

.list-group a{
    text-decoration: none;
    color: black;
}

.list-group :hover {
    font-family: 'Times New Roman', Times, serif;
}
h3{
    padding-top: 5px;
    margin-bottom: 0px;
}
@media (min-width: 382px) {
    .header-logo-dat{
        padding-left: 132px;
    }
}