.hover-zoom1 {
    transition: transform 0.3s ease;
}

.hover-zoom1:hover {
    transform: scale(1.1);
}
.carousel-item img {
    max-height: 500px;
  }
  
  @media (max-width: 768px) {
    .carousel-item img {
      max-height: 300px; /* Điều chỉnh chiều cao khi màn hình nhỏ hơn */
    }
  }
  
  @media (max-width: 576px) {
    .carousel-item img {
      max-height: 200px; /* Điều chỉnh cho màn hình rất nhỏ */
    }
  }
  .linkNobel {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease
}

.linkNobel:hover {
    color: #0353a4;
} 