
.Van_khoibio_bio {
    border: none;
    border-radius: 10px;
    padding: 60px;
    background-color: rgb(21, 21, 21);
}

.custom-quote {
    
    background-color:black;
    border-left: 3px solid #D69840;
    border-right: 7px solid #D69840;
    border-top: 1px solid #D69840;
    border-bottom: 5px solid #D69840;
    text-align: center;
    color:white;
    border-radius: 1000px;
    font-size: 2rem;
    box-shadow: 15px 8px 15px 10px rgb(233, 212, 107);
    margin-bottom: 2%;
}

.card {
    box-shadow: 0 4px 8px 0 #F2F2CE;
    text-align: center;
    font-family: arial;
    background-color:  #cecbc8;
    border-radius: 3%;
}

.card button {
    border: none;
    outline: 0;
    padding: 12px;
    border-radius: 0% 0% 10% 10%;
    background-color: #fffdc3;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 1rem;
}

.card button:hover {
    opacity: 0.7;
}

.card img {
    width: 130%;
    animation: slide-up 0.9s ease-in-out;
    transform: translateY(100%);
    opacity: 0;
    animation-fill-mode: forwards;
    border-radius: 50% 20%;
}

@keyframes slide-up {
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.Van-chuhoa p::first-letter {
    font-size: 4rem;
    font-weight: bold;
    color:rgb(233, 212, 107);
    font-family: 'Pacifico', cursive;

}

.Van_sheet_bio {
    border: dotted;
    padding: 30px;
    margin-top: 50px 50px;
    border-radius: 30px;
    margin-bottom: 30px;

}

.Van-Bioone-clickme {
    background-color: black;
    text-align: center;
    font-size: 1.75rem;
}

.VanBio_custom-link:hover{
    background-color: #e0e0e0;
}

.VanBio_custom-link {
    cursor: pointer;
    background-color: #f0f0f0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.VanBio_colum{
    flex: 1;
    padding: 10px;
}

.VanBio_expanded-content {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;
}
/* @media (max-width: 768px) {
    .VanBio_colum {
        flex: 100%;
    }
} */