
.scroll-container {
    background-color: #333;
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px;
}

.scroll-container img {
    width: 300px;
    /* Set a fixed width */
    height: 300px;
    /* Set a fixed height */
    object-fit: cover;
    /* Ensure the image covers the entire area */
    margin-right: 10px;
}