.Van-quote-mark {
    font-size: 2em;
    /* Điều chỉnh kích thước theo ý muốn */
    font-family: Georgia, serif;
    /* Chọn font chữ phù hợp */
    color: white;
    /* Màu sắc */
    position: relative;
    background-color: #D69840;
}

.Van-quote-mark::before {
    content: open-quote;
    /* Sử dụng ký tự đặc biệt cho dấu mở đầu */
    position: absolute;
    left: -0.5em;
}

.Van-quote-mark::after {
    content: close-quote;
    /* Sử dụng ký tự đặc biệt cho dấu kết thúc */
    position: absolute;
    right: -0.000005em;
}
.Van-khoitron-quot{
    width: 50%;
    height:auto;
    border-radius: 50%; /* Tạo hình tròn */
    box-shadow: 15px 10px 25px 8px rgb(233, 212, 107);
  /*  overflow: hidden;  Ẩn phần thừa của hình ảnh */
 
  
}
.Van-khoitron-quot img {
    border-radius: 30%;
    width: 90%;
    height: 100%;
    object-fit: cover; /* Đảm bảo hình ảnh phủ kín toàn bộ diện tích */
  }
@media (max-width: 768px) {
    .Van-quote-mark {
        font-size: 1.5em;
    }
}
