.SizeImg_Hung {
    width: 55%;
    height: 55%;
    border: thin solid black;
    padding: 3%;
}

.SizeImg_Hung:hover {
    transform: scale(2);
    /* Phóng to hình ảnh */
    z-index: 10;
    /* Đặt ảnh trên các phần tử khác */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.5);
    position: fixed;
    border: none;
    height: auto;
}

.Top_Hung {
    position: fixed;
    /* Đảm bảo nút cố định trong viewport */
    bottom: 50px;
    right: 40px;
    z-index: 1000;
    box-shadow: 2px 2px 5px rgba(96, 88, 88, 0.7);
    border-radius: 50%;
}

.BackHome_Hung {
    position: fixed;
    /* Đảm bảo nút cố định trong viewport */
    bottom: 55px;
    right: 95px;
    z-index: 1000;
}

.Khoidiv {
    border: 5px double #f0c16c;
    border-radius: 10px;
}

