.SizeImg_Hung {
    width: 55%;
    height: 55%;
    border: 1.5px solid rgb(65, 64, 64);
    padding: 3%;
    border-radius: 3px;
    background-color: #edf2fb;
    box-shadow: 2px 2px 5px rgba(96, 88, 88, 0.7);
}
.SizeImg_Hung1 {
    width: 60%;
    height: 55%;
    border: 1.5px solid rgb(65, 64, 64);
    padding: 3%;
    border-radius: 3px;
    background-color: #edf2fb;
    box-shadow: 2px 2px 5px rgba(96, 88, 88, 0.7);
}

.Top_Hung {
    position: fixed;
    /* Đảm bảo nút cố định trong viewport */
    bottom: 27%;
    right: 37px;
    z-index: 1000;
    box-shadow: 2px 2px 5px rgba(96, 88, 88, 0.7);
    border-radius: 50%;
    background-color: #00b4d8;
}
.Top_Hung:hover {
    animation: pulse512 1.2s infinite;
}
@keyframes pulse512 {
    0% {
     box-shadow: 0 0 0 0 #05bada66;
    }
   
    70% {
     box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
    }
   
    100% {
     box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
    }
   }
.BackHome_Hung {
    position: fixed;
    /* Đảm bảo nút cố định trong viewport */
    bottom: 32.5%;
    right: 40px;
    z-index: 1000;
}
.BackHome_Hung:hover {
    animation: pulse512 1.5s infinite;
}
.Khoidiv {
    border: 3px double #d3ac64b0;
    border-radius: 10px;
    background-color: rgba(255, 238, 175, 0.2);
    box-shadow: 3px 3px 5px rgba(248, 224, 196, 0.821);
}

.shadow_text{
    text-shadow: 2px 2px 3px rgba(98, 100, 95, 0.7);
    color: #585123;
}
.Nobel_Hung{
    box-shadow: 3px 3px 5px #979dac;
    border-radius: 50%;
}