.SizeImg_Hung {
    width: 55%;
    height: 55%;
    border: 2px solid rgba(65, 64, 64, 0.529);
    padding: 3%;
    border-radius: 3px;
}
.SizeImg_Hung1 {
    width: 60%;
    height: 55%;
    border: 2px solid rgba(65, 64, 64, 0.529);
    padding: 3%;
    border-radius: 3px;
}

.Top_Hung {
    position: fixed;
    /* Đảm bảo nút cố định trong viewport */
    bottom: 27%;
    right: 37px;
    z-index: 1000;
    box-shadow: 2px 2px 5px rgba(96, 88, 88, 0.7);
    border-radius: 50%;
    background-color: #00b4d8;
}
.Top_Hung:hover {
    animation: pulse512 1.5s infinite;
}
@keyframes pulse512 {
    0% {
     box-shadow: 0 0 0 0 #05bada66;
    }
   
    70% {
     box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
    }
   
    100% {
     box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
    }
   }
.BackHome_Hung {
    position: fixed;
    /* Đảm bảo nút cố định trong viewport */
    bottom: 33%;
    right: 40px;
    z-index: 1000;
}
.BackHome_Hung:hover {
    animation: pulse512 1.5s infinite;
}
.Khoidiv {
    border: 3px double #d3ac64b0;
    border-radius: 10px;
    background-color: rgba(255, 238, 175, 0.2);
}
/**/
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    background-color: rgba(232, 186, 130, 0.245);
  }
  
  /* Style cho nội dung chính */
  .overlay-text {
    position: absolute; /* Định vị văn bản */
    top: 70%; /* Đưa văn bản lên giữa */
    left: 50%; /* Đưa văn bản sang giữa */
    transform: translate(-50%, -50%); /* Căn giữa chính xác */
    color: rgb(255, 255, 255); /* Màu chữ */
    font-size: 24px; /* Kích thước chữ */
    text-align: center; /* Căn giữa văn bản */
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7); /* Đổ bóng cho văn bản để dễ nhìn hơn */
    font-weight: bold;
}
.shadow_text{
    text-shadow: 3px 3px 5px rgba(98, 100, 95, 0.7);
}