.Site_Map_Hung img {
    width: 45px;
    height: auto;
    margin-left: -18px;
    position: fixed;
    bottom: 20%;
    z-index: 1000;
    filter: drop-shadow(0 0 5px rgb(180, 180, 180)) ;

}

.Site_Map_Hung img:hover {
    cursor: pointer;
    animation: pulse512 1.5s infinite;
}

@keyframes pulse512 {
    0% {
        filter: drop-shadow(0 0 0px #FFFFFF);
    }

    70% {
        filter: drop-shadow(0 0 10px rgba(218, 103, 68, 0));
    }

    100% {
        filter: drop-shadow(0 0 0px rgba(218, 103, 68, 0));
    }
}

#popupDiv {
    max-width: auto;
    max-height: auto;
    position: fixed;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    padding: 1.5%;
    z-index: 1000;
    display: none;
    background-image: url('../../Img/Hung/bg_sitemap.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.8), /* ánh sáng mờ */
              0 0 10px rgba(255, 255, 255, 0.6), /* ánh sáng xa hơn */
              0 0 15px rgba(255, 255, 255, 0.4); /* ánh sáng rộng hơn */
}

.hidden {
    display: none;

}

.button_close_Hung {
    border: none;
}

.site_map_text {
    font-size: 15pt;
}

.site_map_text a {
    text-decoration: none;
    text-shadow: 3px 3px 3px black;
    color: #ffffff;
    font-weight: 600;
    background-color: #9285856c;
    border-radius: 15px;
    box-shadow: 1px 1px 1px 1px rgba(199, 199, 199, 0.485);
}

.site_map_text a:hover {
    background-color: #babababd;
    border: thin solid #ffffff;
}

.Tieude_Hung {
    text-shadow: 2px -3px 3px black;
    font-size: 25pt;
    color: #ffffffe9;
}

.paddingleft_Hung{
    padding-left: 8%;
}
.paddingleft_Hung a{
    font-weight: 300;
    background-color: rgba(0, 0, 0, 0.452);
    border-radius: 0px 5px 0px 5px ;
    color: white;
}


@media (max-width: 978px) {
    .site_map_text {
        font-size: 14pt;
    }
    #popupDiv{
        padding-left: 4%;
    }
}

@media (max-width: 768px) {
    .site_map_text {
        font-size: 10pt;
    }
    #popupDiv{
        padding-left: 4%;
    }
}

@media (max-width: 576px) {
    .site_map_text {
        font-size: 10pt;
    }

    .Tieude_Hung {
        font-size: 15pt;
    }
    #popupDiv{
        padding-left: 4%;
    }
}